body {
    background-color: #202022;
    color: white;
}
.content {
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: black;
}
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}
header {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: hidden;
}

li {
    float: left;
}


li a {
    display: block;
    color: #c5c5c5;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    color: white;
}