body {
    background-color: #202022;
    color: white;
}

.content {
    left: 0;
    right: 0;
    width: 100%;
    position: absolute;
    background-color: black;
}

.container {
    padding: 1rem;
}

footer {
    background-color: #202022;
    padding-top: 1%;
    padding-bottom: 1%;
    bottom: 0;
    width: 100%;
    text-align: center;
}